


/*Code for the Project sections*/
#projects {
    justify-content: center; /*center the entire page */
}

.section-title {
    text-align:justify;
    
}

section.projects-section {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1%;
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
    background-color: #ddd;
}

.projects-grid {
    margin: 1%;
    background-color: gray;
    border-radius: 10px;
    width: 500px;
    display:flexbox;
    padding: 20px;
    justify-items: center; /*centers the image inside the*/
}

.project-card {
    padding: 20px;
    margin: 20px;
    background-color:azure;
    justify-content: center;
    border-radius: 10px;
}

img {
    display: grid;
    padding: 10px;
    margin: 10px;
}

footer{
    background-color:  rgb(46, 4, 86);;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: white;
    margin-bottom: 1px;
    justify-content: center;
    gap: 20px;
}
