
/*Code for the About Page CSS*/
.about-container{
    background-color:#ddd;
    padding: 20px;
    margin: 100px;
    border-radius:2%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
}

.about-img,
.about-text{
    flex: 1;
}

.about-img {
    max-width: 100%;
    height: 100%;
    display: block;
   }

   img {
    border-radius: 10%;
    max-width: max-content;
    max-height: fit-content;
    
   }

.about-text{
    justify-content: center;
    padding: 20px;
    flex: 1;
    border-radius: 2%;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    margin: 10px;
    background-color:#ddd;
}

strong{
    color: red;
}

.about-btn:hover {
    background-color: red; /* A primary action color */
    color: white;
    border: 2px solid black;
    font-weight: bolder;
   
}



footer{
    background-color:  rgb(46, 4, 86);;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;    padding-left: 20px;
    color: white;
    margin-bottom: 1px;
    justify-content: center;
    gap: 20px;
}

